.fixed-navbar-60px{
    height: 60px !important;
}

.background-paradox-blue {
    background: #180C72 !important;
}

.color-paradox-yellow {
    color: #DEDD10 !important;
}

.background-paradox-yellow {
    background: #DEDD10 !important;
}

.border-bottom-color-paradox-yellow {
    border-bottom-color: #DEDD10 !important;
}